@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Search all the people!</h1>
    <p class="lead"></p>
    <p></p>
</div>
<div class="row">
        <h2>People Search</h2>
        <script src="~/Scripts/jquery-3.1.1.min.js"></script>
        <form>
            <input type="text" id="searchInput" />
            <button id="searchButton">Search</button>
        </form>
        <script>
            $('#searchButton').click(function (event) {
                event.preventDefault();
                    $.ajax({
                        url: '@Url.Action("SearchResult", "Person")',
                        data: { format: JSON, q: $('#searchInput').val() },
                        type: 'GET',
                        success: function (data) {
                            var output = $('#myDiv');
                            output.empty();
                            for (var i = 0; i < data.length; i++) {
                                var person = data[i];
                                output.append('<tr><td>' + person.ID + '</td><td>' +
                                    person.lastName + '</td><td>' + person.firstName + '</td><td>' + person.age +
                                    '</td><td>' + person.address + '</td><td>' + person.interests + '</td><td>' + '<img src=" ' + person.profilePicture + ' " style="height: 100px; width: 50px;" />' + '</td></tr>');
                             }
                        }
                    });
                });
        </script>
        <div>
            <table style="width: 100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Age</th>
                        <th>Address</th>
                        <th>Interests</th>
                        <th>Profile Picture</th>
                    </tr>
                </thead>
                <tbody id="myDiv">
                    <!--Search results go here-->
                    
                </tbody>
            </table>
        </div>
</div>